.container-contador{
    width: 80%;
    padding: 2%;
    margin: 2% auto;
    text-align: center;
    border: 1px solid #111111;
}

.boton{
    width: 80%;
    padding: 2% auto;
    text-align: center;
    border: 1px solid #111111;
}