 <div class="footer">
    <div class="izq">
        <p class="principal">Footer todo bonito</p>
        <p class="secundario">Copyright © 2024 - Uniempresarial.edu.co Todos los derechos reservados.</p>

    </div>
    <div class="der">
        <div>
            <span class="material-symbols-outlined">info</span>
            <p>Informacion</p>
        </div>
        <div>
            <span class="material-symbols-outlined">mail</span>
            <p>Correo: jhcastillo&#64;uniempresarial.edu.co</p>
        </div>
        <div>
            <span class="material-symbols-outlined">check_circle</span>
            <p>Github: Johexlimee</p>
        </div>
    </div>
 </div>
